.app {
    display: flex;
    min-height: 100vh;
}

.treeWrapper {
    position: relative;
    display: flex;
    min-width: 50%;
    justify-content: center;
    align-items: center;
}

.labyrinthWrapper {
    position: relative;
    display: flex;
    min-width: 50%;
    justify-content: center;
    align-items: center;
}

.starWrapper{
    position: relative;
    width: 100px;
    height: 100px;
    padding: 5px;
    transition-property: all;
    transition-timing-function: ease;
}