.tree {
    position: relative;
    width: 230px;
    height: 400px;
    background: url("../image/tree.png");
    background-size: cover;
}

.base {
    width: 26px;
    height: 20px;
    background: #84714F;
    position: absolute;
    left: calc(50% - 13px);
    bottom: 0;
}


.layer {
    position: absolute;
    width: 0;
    height: 0;
    left: 120px;
    top: 50px;
}

.layer.two{
    position: absolute;
    top: 30px;
    left: 40px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid #499F68;
}

.layer.three{
    position: absolute;
    top: 50px;
    left: 20px;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 160px solid #499F68;
}

.layer.four{
    position: absolute;
    top: 80px;
    left: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #499F68;
}

.balls {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.balls.first{
    top: 20px;
    left: -20px;
    background: radial-gradient(circle at 65% 15%, #fbf9ff, #8b7a2f);
}

.balls.second{
    top: 50px;
    left: 20px;
    background: radial-gradient(circle at 65% 15%, #83ffcf, #8b3430);
}

.balls.third{
    top: 90px;
    left: -28px;
    background: radial-gradient(circle at 65% 15%, #fffff5, #33a4be);
}

.balls.four{
     top: 140px;
     left: 8px;
    background: radial-gradient(circle at 65% 15%, #fbffff, #338b49);
 }

.balls.five{
    top: 180px;
    left: -60px;
    background: radial-gradient(circle at 65% 15%, #f3fffd, #c17c2d);
}

.balls.six{
    top: 210px;
    left: 50px;
    background: radial-gradient(circle at 65% 15%, #fdf4ff, #8b4379);
}

.balls.seven{
    top: 250px;
    left: -40px;
    background: radial-gradient(circle at 65% 15%, #f6f4ff, #d2dc46);
}

.balls:hover{
    background: url("../image/pepe.png");
    background-size: cover;
}